<div class="footer row d-flex text-center mt-auto bg-light">
    <div class="col-12 d-flex justify-content-center align-items-center">
        @* <p>Logo</p> *@
        <p class="m-0 py-2">Copyright &copy; @_currentYear - Tonyruizo</p>
    </div>
</div>

@code {
    private int _currentYear = DateTime.Now.Year;
}