@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <div class="sidebar-layover"></div>
        <NavMenu/>
    </div>

    <main>
        <article class="content px-md-5 px-0">
            <div class="pt-5">
                @Body
            </div>
        </article>
        <Footer></Footer>
    </main>
</div>
