@page "/"
@using TRPortfolio.Client.Components

<PageTitle>Tonyruizo.me</PageTitle>

<div class="container">

    <PageHeading Heading="Software Engineer"/>

    <p class="pb-5"> Student at Western Governors University
        <a href="https://www.wgu.edu/" target="_blank">(WGU)</a>.
    </p>

    @* <p> *@
    @*     <strong>Tools:</strong> *@
    @*     <code>JetBrains Rider, Visual Studio, VS Code, GIT, GitHub, SQL Server, SSMS, Azure</code> *@
    @* </p> *@
    @* <p> *@
    @*     <strong>Languages/Frameworks/Libraries:</strong> *@
    @*     <code>C#, Blazor, ASP.NET Core, SQL, React, Angular, HTML5, CSS, Bootstrap, JavaScript</code> *@
    @* </p> *@

    <div class="contact py-lg-5">
        @* <p> *@
        @*     <i>Send me an Email:</i> *@
        @*     <a href="mailto:tonyruizo@pm.me"> *@
        @*         <i class="bi bi-envelope-at text-dark" style="font-size: 24px" aria-label="Email Message"></i> *@
        @*     </a> *@
        @* </p> *@
        @* <p> *@
        @*     <i>Connect with me:</i> *@
        @*     <a href="https://linkedin.com/in/tonyruizo" target="_blank"> *@
        @*         <i class="bi bi-linkedin" style="font-size: 24px" aria-label="LinkedIn Connection"></i> *@
        @*     </a> *@
        @* </p> *@
        <strong><em>Home Page is Under Development.</em></strong>
        <div class="mt-5">
            <p>Please see <NavLink href="/projects">Projects</NavLink> page.</p>
        </div>
    </div>

</div>