@page "/Projects"
@using TRPortfolio.Client.Components

<PageTitle>Tonyruizo.me - Projects</PageTitle>

<div class="container">

    <PageHeading Heading="Projects"/>

    <p>A collection of projects I’ve recently worked on. Click on any project view the details and learn more about the
        tools and technologies used in them.
    </p>

    <div class="row g-2 py-4">
        <ProjectCard ProjectId="taniti-tourism"
                     Title="Taniti Tourism - Business Landing Page"
                     Source="images/TanitiTour.png"
                     Alt="Preview of the project"
                     Text="View Details"/>
        <ProjectCard/>
        <ProjectCard/>
    </div>

    <BackButton />

</div>

@code {

}